<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Chatter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chattershare</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-Q1aAPC2qEcte5tnNR6Z0Jf9Q5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.767151182371-66n235ke40g3as57hhk5mk89em5lj5fu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chatter</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>GIDClientID</key>
	<string>767151182371-66n235ke40g3as57hhk5mk89em5lj5fu.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music recommendations in Chatter</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to use your calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to use your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to use your camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contacts will be synced to $(PRODUCT_NAME)'s servers so you and others can find friends and improve your expirience. Learn more in our Privacy Policy.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location testing</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location testing</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to use your microphone. Your record wont be shared without your permission.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion testing</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to use your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Avatar upload and user content upload</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to use your reminders.</string>
	<key>NSSiriUsageDescription</key>
	<string>Siri testing</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Live captions</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Aeonik-Regular.otf</string>
		<string>Chatter-Icons.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>RTCAppGroupIdentifier</key>
	<string>group.io.chattersocial.app</string>
	<key>RTCScreenSharingExtension</key>
	<string>io.chattersocial.app.Chatter-Screen-Share</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
